body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: red;
  text-align: center;
}

/*#featured-property { text-align: center;*/
/*  display: block; margin-left: auto;*/
/*  margin-right: auto; width: 900px;*/
/*}*/
  
nav a {padding-right: 10px; padding-left: 10px; background-color: grey;}
nav {text-align: center;}

figcaption {text-align: center; font-size: 13px;}

/*p {text-align: center;}*/

#featured-property p {margin: auto;
    text-align: center; width: 800px;
}

img {display: block; margin: auto;}

#featured-property img {
  width: 900px;
}

#details div {float: left; text-align: center; background-color: red; width: 25%;}


